{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoU Mail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Classificador de Emails</h1>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <textarea name="content" placeholder="Digite ou cole seu email aqui...">
          {{ conteudo }}
        </textarea>
        <input type="file" name="file" accept=".txt,.pdf" />
        <button type="submit">Classificar</button>
      </form>

      {% if categoria %}
      <div class="resultado {{categoria|lower}}">
        <span class="categoria {{categoria|lower}}">
          Categoria: {{ categoria }}
        </span>
        <p class="resposta">
          <strong>Resposta sugerida: </strong>{{ resposta }}
        </p>
      </div>
      {% endif %}
    </div>
  </body>
</html>
